@import url("https://fonts.googleapis.com/css?family=Space+Mono");

* {
  box-sizing: border-box;
  font-family: "Space Mono", serif;
  border-radius: 5px;
}

html {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.calculator {
  max-width: 350px;
  margin: 100px auto;
  background: #016160;
  box-shadow: 0px 0px 0px 8px #006561, 0px 0px 0px 16px #005955,
    0px 0px 0px 24px #0b817d, 0px 0px 0px 31px #00a59f, 0px 0px 0px 39px #04b9b1,
    5px 5px 15px 5px rgba(65, 255, 244, 0);
}

.calculator-numbers {
  width: 100%;
  font-size: 2em;
  text-align: right;
  color: black;
  opacity: 70%;
  border: none;
  height: 3em;
  background-color: #016160;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 0;
}

.btn {
  font-size: 1.5em;
  border: 1px solid black;
  opacity: 70%;
}

.btn:hover {
  opacity: 100%;
}

.span-2 {
  grid-column: span 2;
}
.span-3 {
  grid-column: span 3;
}
